.container {
  width: 330px;
  background-color: #fff;
  padding-left: 65px;
  padding-top: 24px;
}

.menuIconNoActive {
  color: #012755;
  background-color: #fff;
  width: 228px;
  height: 54px;
  top: 121px;
  left: 65px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 14px 20px;
  gap: 13px;
}

.menuIcon {
  background-color: #012755;
  color: #fff;
}

.activeIcon {
  color: #fff;
}

.name {
  font-size: 20px;
}
