.container {
  margin-top: 63px;
  margin-bottom: 65px;
}

.comb {
  font-size: 20px;
  font-weight: 500;
  padding: 0 65px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.comb p:last-child {
  font-weight: 700;
}
