:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Ubuntu, 'Helvetica Neue', Helvetica, Arial, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft Yahei UI', 'Microsoft Yahei',
    'Source Han Sans CN', sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  max-width: 428px;
  height: 2772px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  z-index: 1;
  margin-bottom: 80px;
}
.rectangle {
  position: relative;
  width: 435px;
  height: 120px;
  margin: 0 0 0 0;
  background: #ffffff;
  overflow: visible auto;
}
.status-bar {
  position: relative;
  width: 408px;
  height: 18px;
  margin: 11px 0 0 10px;
  z-index: 1;
  overflow: hidden;
}
.time {
  position: absolute;
  width: 54.761px;
  height: 18px;
  top: 0;
  left: 19.584px;
  z-index: 2;
}
.colon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 18px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: SF Pro Text, var(--default-font-family);
  font-size: 15px;
  font-weight: 700;
  line-height: 17.9px;
  text-align: center;
  white-space: nowrap;
  z-index: 3;
}
.stats {
  position: absolute;
  width: 17.78%;
  height: 11.334px;
  top: 3.333px;
  left: 77.42%;
  background: url(./assets/images/a7c46220-983f-440e-b75b-e1fc7024a6af.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
}
.ra-mat-simple-back-to-school {
  position: relative;
  width: 265px;
  height: 16px;
  margin: 17px 0 0 81px;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 15.948px;
  text-align: center;
  text-overflow: initial;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 236;
}
.ra-mat-simple-back-to-school-1 {
  position: relative;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 15.948px;
  text-align: center;
  letter-spacing: -0.2px;
}
.mua-ngay {
  margin-left: 5px;
  position: relative;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 15.948px;
  text-align: center;
  text-decoration: underline;
  letter-spacing: -0.2px;
}
.ra-mat-simple-back-to-school-2 {
  position: relative;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 15.948px;
  text-align: center;
  letter-spacing: -0.2px;
}
.rectangle-3 {
  position: relative;
  width: 428px;
  height: 51px;
  margin: 6px 0 0 0;
  background: #012755;
  z-index: 220;
}
.asset {
  position: absolute;
  width: 55px;
  height: 47px;
  top: 4px;
  left: 50%;
  background: url(./assets/images/08d5c4f773c622791b8993a0c110ffcbb218c52f.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-50.91%, 0);
  z-index: 235;
}
.align-left {
  position: absolute;
  width: 41px;
  height: 46px;
  top: 6px;
  left: 50%;
  transform: translate(-480.49%, 0);
  z-index: 221;
  overflow: hidden;
}
.vector {
  position: relative;
  width: 31px;
  height: 3px;
  margin: 10.5px 0 0 3.5px;
  background: url(./assets/images/4d445bf0-6fd9-4e56-82c7-24c6b4eca703.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 223;
}
.vector-4 {
  position: relative;
  width: 22px;
  height: 3px;
  margin: 5px 0 0 3.5px;
  background: url(./assets/images/28c33bb7-bad6-40fb-8c66-7ab7a1f22eb8.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 222;
}
.vector-5 {
  position: relative;
  width: 31px;
  height: 3px;
  margin: 6px 0 0 3.5px;
  background: url(./assets/images/08505c85-b229-4579-9dbd-38fa114e18bc.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 224;
}
.account {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 8px;
  left: 342px;
  z-index: 233;
  overflow: hidden;
}
.vector-6 {
  position: relative;
  width: 20.667px;
  height: 20.667px;
  margin: 5.167px 0 0 5.167px;
  background: url(./assets/images/1ee881aa-8567-4deb-bcee-f485679e0957.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 234;
}
.cart {
  position: absolute;
  width: 27.5px;
  height: 27.5px;
  top: 9.571px;
  left: 380.5px;
  z-index: 227;
  overflow: hidden;
}
.vector-7 {
  position: relative;
  width: 20.985px;
  height: 9.166px;
  margin: 2.579px 0 0 3.258px;
  background: url(./assets/images/f899a166-50de-44d3-b788-cc098db9e314.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 228;
}
.vector-8 {
  position: relative;
  width: 20.522px;
  height: 10.599px;
  margin: 1.719px 0 0 3.489px;
  background: url(./assets/images/7f31eb27-a13a-477b-a6f2-1d3d9cfa753c.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 229;
}
.search {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 13px;
  left: 67px;
  background: url(./assets/images/bbe53490-f613-4266-86f9-6c8e9886fb71.png)
    no-repeat center;
  background-size: cover;
  z-index: 225;
  overflow: hidden;
}
.ellipse {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 28.429px;
  left: 397px;
  background: url(./assets/images/82c320b9-fd5f-4ddb-8941-1c56e59f1393.png)
    no-repeat center;
  background-size: cover;
  z-index: 231;
  border-radius: 50%;
}
.number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 6.286px;
  height: 12.571px;
  top: 28.429px;
  left: 399.357px;
  color: #0f0f0f;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 12.571px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 232;
}
.flex-row-fbc {
  position: relative;
  width: 326px;
  height: 23px;
  margin: 11px 0 0 51px;
  z-index: 71;
}
.gio-hang {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 500;
  line-height: 22.593px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.29px;
  z-index: 71;
}
.thanh-toan {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 0;
  left: 120px;
  color: #b9b9b9;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 500;
  line-height: 22.593px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.29px;
  z-index: 70;
}
.hoan-tat {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 0;
  left: 260px;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 500;
  line-height: 22.593px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.29px;
  z-index: 69;
}
.vector-9 {
  position: absolute;
  width: 3.37%;
  height: 86.96%;
  top: 4.35%;
  left: 26.99%;
  background: url(./assets/images/4c95c11c-7a52-4f01-a1c8-639f7da5af18.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 68;
}
.vector-a {
  position: absolute;
  width: 3.37%;
  height: 86.96%;
  top: 4.35%;
  left: 69.94%;
  background: url(./assets/images/7c2b8f4a-d70c-4744-bb76-ab6624d6155b.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 67;
}
.flex-row-bbc {
  position: relative;
  width: 387px;
  height: 21px;
  margin: 22px 0 0 21px;
  z-index: 76;
}
.thong-tin-van-chuyen {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.27px;
  z-index: 72;
}
.rectangle-b {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 3px;
  left: 370px;
  border: 1px solid #868686;
  z-index: 76;
  border-radius: 5px;
}
.su-dung-dia-chi-mac-dinh {
  position: absolute;
  width: 133px;
  height: 16px;
  top: 4px;
  left: 231px;
  cursor: pointer;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15.948px;
  white-space: nowrap;
  letter-spacing: -0.2px;
  background: transparent;
  border: none;
  z-index: 74;
}
.rectangle-c {
  position: relative;
  width: 388px;
  height: 50px;
  margin: 26px 0 0 20px;
  border: 1px solid #c9c8c8;
  z-index: 188;
  border-radius: 20px;
}
.ho-ten-input {
  position: absolute;
  width: 388px;
  height: 50px;
  top: -1px;
  left: -1px;
  background: transparent;
  border: none;
  z-index: 190;
  outline: none;
  font-size: 14px;
  padding-left: 10px;
}
.ho-va-ten {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 50.48%;
  top: 27.27%;
  left: 4.12%;
  color: #585858;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 18.606px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 189;
}
.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 388.703px;
  height: 50px;
  margin: 21.254px 0 0 19px;
  z-index: 208;
}
.rectangle-d {
  flex-shrink: 0;
  position: relative;
  width: 188.703px;
  height: 50px;
  border: 1px solid #c9c8c8;
  z-index: 192;
  border-radius: 20px;
}
.email {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 50%;
  top: 23%;
  left: 7.95%;
  color: #585858;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 18.606px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 193;
}
.rectangle-e {
  flex-shrink: 0;
  position: relative;
  width: 188.703px;
  height: 50px;
  border: 1px solid #c9c8c8;
  z-index: 208;
  border-radius: 20px;
}
.phone-number {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 50%;
  top: 25.27%;
  left: 7.42%;
  color: #585858;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 18.606px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 209;
}
.flex-row-f {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 388.703px;
  height: 50px;
  margin: 21.746px 0 0 19px;
  z-index: 211;
}
.rectangle-f {
  flex-shrink: 0;
  position: relative;
  width: 188.703px;
  height: 50px;
  border: 1px solid #c9c8c8;
  z-index: 195;
  border-radius: 20px;
}
.city {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 144px;
  height: 31px;
  top: 15px;
  left: 13px;
  color: #585858;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 18.606px;
  text-align: left;
  letter-spacing: -0.24px;
  z-index: 196;
}
.formkit-down {
  position: absolute;
  width: 24px;
  height: 10px;
  top: 19px;
  left: 146px;
  z-index: 197;
  overflow: hidden;
}
.vector-10 {
  position: relative;
  width: 15.015px;
  height: 7.886px;
  margin: 1.414px 0 0 4.5px;
  background: url(./assets/images/b3bdb9c3-1af7-4756-b45c-979db0d87154.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 198;
}
.rectangle-11 {
  flex-shrink: 0;
  position: relative;
  width: 188.703px;
  height: 50px;
  border: 1px solid #c9c8c8;
  z-index: 211;
  border-radius: 20px;
}
.district {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 144px;
  height: 31px;
  top: 15px;
  left: 14px;
  color: #585858;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 18.606px;
  text-align: left;
  letter-spacing: -0.24px;
  z-index: 212;
}
.formkit-down-12 {
  position: absolute;
  width: 24px;
  height: 10px;
  top: 19px;
  left: 151px;
  z-index: 213;
  overflow: hidden;
}
.vector-13 {
  position: relative;
  width: 15.015px;
  height: 7.886px;
  margin: 1.414px 0 0 4.5px;
  background: url(./assets/images/a0aaf517-9313-45dd-9d5f-b6d08e179cbd.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 214;
}
.flex-row-14 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 388.703px;
  height: 50px;
  margin: 21px 0 0 19px;
  z-index: 216;
}
.rectangle-15 {
  flex-shrink: 0;
  position: relative;
  width: 188.703px;
  height: 50px;
  border: 1px solid #c9c8c8;
  z-index: 200;
  border-radius: 20px;
}
.ward {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 144px;
  height: 31px;
  top: 15px;
  left: 13px;
  color: #585858;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 18.606px;
  text-align: left;
  letter-spacing: -0.24px;
  z-index: 201;
}
.formkit-down-16 {
  position: absolute;
  width: 24px;
  height: 10px;
  top: 19px;
  left: 146px;
  z-index: 202;
  overflow: hidden;
}
.vector-17 {
  position: relative;
  width: 15.015px;
  height: 7.886px;
  margin: 1.414px 0 0 4.5px;
  background: url(./assets/images/2ae1564a-8860-45e1-a706-792cea4a50c5.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 203;
}
.rectangle-18 {
  flex-shrink: 0;
  position: relative;
  width: 188.703px;
  height: 50px;
  border: 1px solid #c9c8c8;
  z-index: 216;
  border-radius: 20px;
}
.address {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 144px;
  height: 31px;
  top: 15px;
  left: 14px;
  color: #585858;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 18.606px;
  text-align: left;
  letter-spacing: -0.24px;
  z-index: 217;
}
.rectangle-19 {
  position: relative;
  width: 387.978px;
  height: 80px;
  margin: 21px 0 0 20px;
  border: 1px solid #c9c8c8;
  z-index: 206;
  border-radius: 20px;
}
.additional-note {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 32.5%;
  top: 13.75%;
  left: 2.32%;
  color: #585858;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 18.606px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 206;
}
.cart-1a {
  display: block;
  position: relative;
  height: 21px;
  margin: 19px 0 0 21px;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.27px;
  z-index: 78;
}
.flex-row-bcd {
  position: relative;
  width: 389px;
  height: 107px;
  margin: 21px 0 0 21px;
  z-index: 148;
}
.rectangle-1b {
  position: absolute;
  width: 21.08%;
  height: 100%;
  top: 0;
  left: 6.68%;
  background: url(./assets/images/73f7d8f307e90f3b931ba40c380be8fb5ffb59d9.png)
    no-repeat center;
  background-size: cover;
  z-index: 130;
  border-radius: 5px;
}
.fur-coat-s {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 14.02%;
  top: 0;
  left: 31.88%;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 129;
}
.price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 13.08%;
  top: 0;
  left: 83.8%;
  color: #fe1f1f;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 132;
}
.proceed-to-checkout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 10px;
  left: 131px;
  color: #fff6f6;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 18.606px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 73;
}
.rectangle-1c {
  position: absolute;
  width: 22.62%;
  height: 34.58%;
  top: 26.17%;
  left: 31.88%;
  background: #f1f1f1;
  z-index: 148;
  border-radius: 20px;
}
.black {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 43.24%;
  top: 23.59%;
  left: 19.48%;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15.948px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 150;
}
.vector-1d {
  position: absolute;
  width: 17.86%;
  height: 23.59%;
  top: 39.72%;
  left: 65.1%;
  background: url(./assets/images/80eb5963-05f0-4dac-a794-cfee424ce8b8.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 151;
}
.rectangle-1e {
  position: absolute;
  width: 20.57%;
  height: 34.58%;
  top: 26.17%;
  left: 58.1%;
  background: #f1f1f1;
  z-index: 143;
  border-radius: 20px;
}
.size-s {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 43.24%;
  top: 23.59%;
  left: 19.72%;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15.948px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 145;
}
.vector-1f {
  position: absolute;
  width: 19.4%;
  height: 23.59%;
  top: 39.72%;
  left: 56.5%;
  background: url(./assets/images/a5b47323-fed9-4d4a-92a6-d3eec77cd3e5.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 146;
}
.ph-x {
  position: absolute;
  width: 3.08%;
  height: 11.21%;
  top: 28.97%;
  left: 0;
  z-index: 131;
  overflow: hidden;
}
.vector-20 {
  position: absolute;
  width: 2.06%;
  height: 7.48%;
  top: 43.93%;
  left: 0;
  background: url(./assets/images/1b2c4a3b-9a58-4f0a-be00-a3e5f664251d.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 133;
}
.rectangle-21 {
  position: absolute;
  width: 22.62%;
  height: 27.1%;
  top: 72.9%;
  left: 31.88%;
  border: 1px solid #000000;
  z-index: 140;
  border-radius: 20px;
}
.group {
  position: absolute;
  width: 33.53%;
  height: 100%;
  top: -3.45%;
  left: -1.14%;
  background: url(./assets/images/ef63263a-e823-4c74-a770-e83081008c31.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 135;
}
.rectangle-22 {
  position: absolute;
  width: 33.53%;
  height: 100%;
  top: -3.45%;
  left: 65.33%;
  background: #ffffff;
  transform: rotate(180deg);
  z-index: 137;
  border-radius: 20px 5px 5px 20px;
}
.mdi-add-bold {
  position: relative;
  width: 8.282px;
  height: 8.286px;
  margin: 10.357px 0 0 11.388px;
  z-index: 138;
  overflow: hidden;
}
.vector-23 {
  position: relative;
  width: 5.522px;
  height: 5.524px;
  margin: 1.381px 0 0 1.38px;
  background: url(./assets/images/8f2d6541-d5b2-40dd-b7bc-060095cd06c3.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 139;
}
.quantity {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 79.31%;
  top: 9.3%;
  left: 44.75%;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 600;
  line-height: 22.593px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.29px;
  z-index: 141;
}
.flex-row-dd {
  position: relative;
  width: 389px;
  height: 107px;
  margin: 22px 0 0 21px;
  z-index: 127;
}
.rectangle-24 {
  position: absolute;
  width: 82px;
  height: 107px;
  top: 0;
  left: 26px;
  background: url(./assets/images/eb05953e9c54819580e2244a4f64be4a4bfb2960.png)
    no-repeat center;
  background-size: cover;
  z-index: 127;
  border-radius: 5px;
}
.quan-tay-nam-sitetab-v {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 14.02%;
  top: 0;
  left: 31.88%;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 105;
}
.price-25 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 13.08%;
  top: 0;
  left: 83.8%;
  color: #fe1f1f;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 107;
}
.rectangle-26 {
  position: absolute;
  width: 22.62%;
  height: 34.58%;
  top: 26.17%;
  left: 31.88%;
  background: #f1f1f1;
  z-index: 123;
  border-radius: 20px;
}
.den {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 43.24%;
  top: 23.59%;
  left: 19.48%;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15.948px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 125;
}
.vector-27 {
  position: absolute;
  width: 17.86%;
  height: 23.59%;
  top: 39.72%;
  left: 65.1%;
  background: url(./assets/images/07c9cb5e-c281-4aea-8b49-88287746c397.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 126;
}
.rectangle-28 {
  position: absolute;
  width: 20.57%;
  height: 34.58%;
  top: 26.17%;
  left: 58.1%;
  background: #f1f1f1;
  z-index: 118;
  border-radius: 20px;
}
.size-s-29 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 43.24%;
  top: 23.59%;
  left: 19.72%;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15.948px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 120;
}
.vector-2a {
  position: absolute;
  width: 19.4%;
  height: 23.59%;
  top: 39.72%;
  left: 56.5%;
  background: url(./assets/images/2f313815-c984-4db5-91ec-5283c1de96ea.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 121;
}
.ph-x-2b {
  position: absolute;
  width: 3.08%;
  height: 11.21%;
  top: 28.97%;
  left: 0;
  z-index: 106;
  overflow: hidden;
}
.vector-2c {
  position: absolute;
  width: 2.06%;
  height: 7.48%;
  top: 43.93%;
  left: 0;
  background: url(./assets/images/084b0ade-7bf7-4f89-b6e1-9e7d871e5e45.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 108;
}
.rectangle-2d {
  position: absolute;
  width: 22.62%;
  height: 27.1%;
  top: 72.9%;
  left: 31.88%;
  border: 1px solid #000000;
  z-index: 115;
  border-radius: 20px;
}
.group-2e {
  position: absolute;
  width: 33.53%;
  height: 100%;
  top: -3.45%;
  left: -1.14%;
  background: url(./assets/images/a5104c57-9f92-4aad-9c7f-d4fe4a6ea74d.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 110;
}
.rectangle-2f {
  position: absolute;
  width: 33.53%;
  height: 100%;
  top: -3.45%;
  left: 65.33%;
  background: #ffffff;
  transform: rotate(180deg);
  z-index: 112;
  border-radius: 20px 5px 5px 20px;
}
.mdi-add-bold-30 {
  position: relative;
  width: 8.282px;
  height: 8.286px;
  margin: 10.357px 0 0 11.388px;
  z-index: 113;
  overflow: hidden;
}
.vector-31 {
  position: relative;
  width: 5.522px;
  height: 5.524px;
  margin: 1.381px 0 0 1.38px;
  background: url(./assets/images/10bebe09-9c9d-4851-ac0c-03541eba2a43.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 114;
}
.quantity-32 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 79.31%;
  top: 9.3%;
  left: 44.75%;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 600;
  line-height: 22.593px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.29px;
  z-index: 116;
}
.flex-row-33 {
  position: relative;
  width: 389px;
  height: 107px;
  margin: 22px 0 0 21px;
  z-index: 100;
}
.rectangle-34 {
  position: absolute;
  width: 21.08%;
  height: 100%;
  top: 0;
  left: 6.68%;
  background: url(./assets/images/73f7d8f307e90f3b931ba40c380be8fb5ffb59d9.png)
    no-repeat center;
  background-size: cover;
  z-index: 82;
  border-radius: 5px;
}
.quan-jeans-slimfit {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 14.02%;
  top: 0;
  left: 31.88%;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 81;
}
.price-35 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 13.08%;
  top: 0;
  left: 83.8%;
  color: #fe1f1f;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 84;
}
.rectangle-36 {
  position: absolute;
  width: 22.62%;
  height: 34.58%;
  top: 26.17%;
  left: 31.88%;
  background: #f1f1f1;
  z-index: 100;
  border-radius: 20px;
}
.den-37 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 43.24%;
  top: 23.59%;
  left: 19.48%;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15.948px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 102;
}
.vector-38 {
  position: absolute;
  width: 17.86%;
  height: 23.59%;
  top: 39.72%;
  left: 65.1%;
  background: url(./assets/images/d3627b10-3207-4106-bb79-13c30ebffd8f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 103;
}
.rectangle-39 {
  position: absolute;
  width: 20.57%;
  height: 34.58%;
  top: 26.17%;
  left: 58.1%;
  background: #f1f1f1;
  z-index: 95;
  border-radius: 20px;
}
.size-s-3a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 43.24%;
  top: 23.59%;
  left: 19.72%;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15.948px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 97;
}
.vector-3b {
  position: absolute;
  width: 19.4%;
  height: 23.59%;
  top: 39.72%;
  left: 56.5%;
  background: url(./assets/images/16c0b3a6-6fd6-4923-bf57-a10b3dda73f2.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 98;
}
.ph-x-3c {
  position: absolute;
  width: 3.08%;
  height: 11.21%;
  top: 28.97%;
  left: 0;
  z-index: 83;
  overflow: hidden;
}
.vector-3d {
  position: absolute;
  width: 2.06%;
  height: 7.48%;
  top: 43.93%;
  left: 0;
  background: url(./assets/images/5afec475-c2d4-4460-b0b6-8e5913ec4aa9.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 85;
}
.rectangle-3e {
  position: absolute;
  width: 22.62%;
  height: 27.1%;
  top: 72.9%;
  left: 31.88%;
  border: 1px solid #000000;
  z-index: 92;
  border-radius: 20px;
}
.group-3f {
  position: absolute;
  width: 33.53%;
  height: 100%;
  top: -3.45%;
  left: -1.14%;
  background: url(./assets/images/e4a38e27-6429-48ae-af5c-2efae2043e16.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 87;
}
.rectangle-40 {
  position: absolute;
  width: 33.53%;
  height: 100%;
  top: -3.45%;
  left: 65.33%;
  background: #ffffff;
  transform: rotate(180deg);
  z-index: 89;
  border-radius: 20px 5px 5px 20px;
}
.mdi-add-bold-41 {
  position: relative;
  width: 8.282px;
  height: 8.286px;
  margin: 10.357px 0 0 11.388px;
  z-index: 90;
  overflow: hidden;
}
.vector-42 {
  position: relative;
  width: 5.522px;
  height: 5.524px;
  margin: 1.381px 0 0 1.38px;
  background: url(./assets/images/7cee9897-860c-4cbf-a231-650e0e7bc245.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 91;
}
.quantity-43 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 79.31%;
  top: 9.3%;
  left: 44.75%;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 600;
  line-height: 22.593px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.29px;
  z-index: 93;
}
.flex-row-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 388px;
  height: 44px;
  margin: 44px 0 0 20px;
  z-index: 157;
}
.rectangle-44 {
  flex-shrink: 0;
  position: relative;
  width: 250px;
  height: 44px;
  border: 1px solid #585858;
  z-index: 157;
  border-radius: 20px;
}
.group-input {
  position: absolute;
  width: 250px;
  height: 44px;
  top: -1px;
  left: -1px;
  background: transparent;
  border: none;
  z-index: 159;
  outline: none;
}
.nhap-ma-giam-gia {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22.777px;
  top: 13px;
  left: 16px;
  color: #585858;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 18.606px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 158;
}
.apply-button {
  flex-shrink: 0;
  position: relative;
  width: 124px;
  height: 44px;
  cursor: pointer;
  background: #002756;
  border: none;
  z-index: 154;
  border-radius: 20px;
}
.rectangle-45 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 13px;
  left: 36px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 155;
}
.flex-row-46 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 386px;
  height: 13.778px;
  margin: 25px 0 0 20px;
  z-index: 164;
}
.tam-tinh {
  flex-shrink: 0;
  position: relative;
  height: 12.778px;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 12.778px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 164;
}
.full-stack {
  flex-shrink: 0;
  position: relative;
  height: 13px;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 13px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 160;
}
.flex-row-cd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 386px;
  height: 13.498px;
  margin: 16.222px 0 0 20px;
  z-index: 165;
}
.giam-gia {
  flex-shrink: 0;
  position: relative;
  height: 12.778px;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 12.778px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 165;
}
.full-stack-47 {
  flex-shrink: 0;
  position: relative;
  height: 13px;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 13px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 163;
}
.flex-row-b-48 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 385.913px;
  height: 13.719px;
  margin: 16.502px 0 0 20.087px;
  z-index: 166;
}
.phi-giao-hang {
  flex-shrink: 0;
  position: relative;
  height: 13px;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 13px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 166;
}
.mien-phi {
  flex-shrink: 0;
  position: relative;
  height: 13px;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 13px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 162;
}
.flex-row-e {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 388px;
  height: 15.323px;
  margin: 16.281px 0 0 20px;
  z-index: 167;
}
.tong {
  flex-shrink: 0;
  position: relative;
  height: 14.604px;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 14.604px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 167;
}
.full-stack-49 {
  flex-shrink: 0;
  position: relative;
  height: 13px;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 13px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.34px;
  z-index: 161;
}
.phuong-thuc-thanh-toan {
  display: block;
  position: relative;
  height: 21px;
  margin: 43.677px 0 0 21px;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.27px;
  z-index: 185;
}
.flex-row-ed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 385.256px;
  height: 44px;
  margin: 18px 0 0 21px;
  z-index: 181;
}
.vector-4a {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: url(./assets/images/d8ff2e9a-a821-48d1-bda9-7622cfa7444a.png)
    no-repeat center;
  background-size: cover;
  z-index: 181;
}
.rectangle-4b {
  flex-shrink: 0;
  position: relative;
  width: 359.256px;
  height: 44px;
  border: 1px solid #585858;
  z-index: 173;
  overflow: hidden;
  border-radius: 20px;
}
.cod-thanh-toan-khi-nhan-hang {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 13px;
  left: 7px;
  color: #585858;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 18.606px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 177;
}
.flex-row-b-4c {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 385.256px;
  height: 44px;
  margin: 15px 0 0 21px;
  z-index: 182;
}
.vector-4d {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: url(./assets/images/4d18ed2b-7718-4260-97f0-dcdb35c82409.png)
    no-repeat center;
  background-size: cover;
  z-index: 182;
}
.rectangle-4e {
  flex-shrink: 0;
  position: relative;
  width: 359.256px;
  height: 44px;
  border: 1px solid #585858;
  z-index: 174;
  overflow: hidden;
  border-radius: 20px;
}
.thanh-toan-qua-vi-momo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 13px;
  left: 7px;
  color: #585858;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 178;
}
.flex-row-fa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 385.256px;
  height: 44px;
  margin: 15px 0 0 21px;
  z-index: 183;
}
.vector-4f {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: url(./assets/images/aa720e91-1819-4cd7-bb05-c4fa7f82fe8d.png)
    no-repeat center;
  background-size: cover;
  z-index: 183;
}
.rectangle-50 {
  flex-shrink: 0;
  position: relative;
  width: 359.256px;
  height: 44px;
  border: 1px solid #585858;
  z-index: 175;
  border-radius: 20px;
}
.thanh-toan-qua-vi-dien-tu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 13px;
  left: 7px;
  color: #585858;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 18.606px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 179;
}
.flex-row-fc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 385.256px;
  height: 44px;
  margin: 15px 0 0 21px;
  z-index: 184;
}
.vector-51 {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: url(./assets/images/b81778a8-fd99-49ba-973a-9c96cb23d919.png)
    no-repeat center;
  background-size: cover;
  z-index: 184;
}
.rectangle-52 {
  flex-shrink: 0;
  position: relative;
  width: 359.256px;
  height: 44px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #585858;
  z-index: 176;
  border-radius: 20px;
}
.quet-qr-thanh-toan-bang-ung-dung-ngan-hang {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 12px;
  left: 7px;
  color: #585858;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 18.606px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 180;
}
.rectangle-53 {
  position: relative;
  width: 388px;
  height: 56px;
  margin: 44px 0 0 20px;
  background: #002756;
  z-index: 170;
  border-radius: 20px;
}
.hoan-tat-don-hang {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 19px;
  left: 129px;
  color: #fff6f6;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 170;
}
.rectangle-54 {
  position: relative;
  width: 428px;
  height: 1085px;
  margin: 51px 0 0 0;
  background: #0c0c0c;
  z-index: 8;
  overflow: visible auto;
}
.simple-chon-don-gian-song-de-dang {
  position: relative;
  width: 340px;
  height: 23px;
  margin: 27px 0 0 20px;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 700;
  line-height: 22.593px;
  text-align: center;
  text-overflow: initial;
  white-space: nowrap;
  letter-spacing: -0.29px;
  z-index: 15;
}
.text-33 {
  position: relative;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 700;
  line-height: 22.593px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.29px;
}
.chon-don-gian-song-de-dang {
  position: relative;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 700;
  line-height: 22.593px;
  text-align: center;
  letter-spacing: -0.29px;
}
.full-stack-55 {
  display: flex;
  align-items: center;
  position: relative;
  width: 340px;
  height: 72px;
  margin: -6px 0 0 20px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15.948px;
  text-align: justified;
  letter-spacing: -0.2px;
  z-index: 16;
}
.rectangle-56 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 169px;
  height: 42px;
  margin: 0px 0 0 20px;
  background: #2f5acf;
  z-index: 65;
  border-radius: 20px;
}
.dong-gop-y-kien {
  flex-shrink: 0;
  position: relative;
  height: 20px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 65;
}
.flex-row-ffe {
  position: relative;
  width: 81px;
  height: 23.384px;
  margin: 31px 0 0 20px;
  z-index: 61;
}
.hotline {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 0;
  left: 31px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 61;
}
.ph-phone-light {
  position: absolute;
  width: 22.769px;
  height: 22.769px;
  top: 0.62px;
  left: 0;
  z-index: 59;
  overflow: hidden;
}
.vector-57 {
  position: relative;
  width: 17.432px;
  height: 17.432px;
  margin: 2.313px 0 0 3.024px;
  background: url(./assets/images/2e7515ee-d673-4a7f-8f77-b71738fb4c32.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 60;
}
.contact-info {
  display: block;
  position: relative;
  height: 14.769px;
  margin: -9.384px 0 0 50.769px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 14.523px;
  text-align: left;
  white-space: nowrap;
  z-index: 62;
}
.email-58 {
  display: block;
  position: relative;
  height: 12px;
  margin: 7.231px 0 0 51px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.mail-outline {
  position: relative;
  width: 22.154px;
  height: 22.154px;
  margin: -9.846px 0 0 20.615px;
  z-index: 12;
  overflow: hidden;
}
.vector-59 {
  position: relative;
  width: 18.462px;
  height: 14.769px;
  margin: 3.692px 0 0 1.846px;
  background: url(./assets/images/82211b19-5b23-4417-b327-eb591de3e62f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 13;
}
.email-address {
  display: block;
  position: relative;
  height: 14.769px;
  margin: -9.307px 0 0 50.769px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 14.523px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.flex-row-b-5a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 160px;
  height: 32.166px;
  margin: 17.231px 0 0 21px;
  z-index: 57;
}
.whatsapp {
  flex-shrink: 0;
  position: relative;
  width: 31.539px;
  height: 31.539px;
  background: url(./assets/images/aae6d631-c7b8-49fc-8c7b-5eb1afdc7494.png)
    no-repeat center;
  background-size: cover;
  z-index: 57;
}
.facebook {
  flex-shrink: 0;
  position: relative;
  width: 31.539px;
  height: 31.539px;
  background: url(./assets/images/43793f99-deee-40ff-9d28-ec6285d68a4e.png)
    no-repeat center;
  background-size: cover;
  z-index: 56;
}
.youtube {
  flex-shrink: 0;
  position: relative;
  width: 31.539px;
  height: 31.539px;
  background: url(./assets/images/dd424ded-1e89-48fb-87cc-2d505fdcd3ee.png)
    no-repeat center;
  background-size: cover;
  z-index: 55;
}
.ig {
  flex-shrink: 0;
  position: relative;
  width: 31.539px;
  height: 31.539px;
  background: url(./assets/images/fb6047eb-3dcc-4030-a7ba-2c0d18a3e34c.png)
    no-repeat center;
  background-size: cover;
  z-index: 54;
}
.contact-address {
  display: block;
  position: relative;
  height: 26px;
  margin: 35.834px 0 0 21px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 600;
  line-height: 21.25px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 26;
}
.flex-row-5b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 346px;
  height: 36px;
  margin: 14px 0 0 17px;
  z-index: 47;
}
.place-icon {
  flex-shrink: 0;
  position: relative;
  width: 36px;
  height: 36px;
  z-index: 47;
  overflow: hidden;
}
.vector-5c {
  position: relative;
  width: 21px;
  height: 30px;
  margin: 3px 0 0 7.5px;
  background: url(./assets/images/49174e66-779b-4165-9c65-a202af7f5bb0.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 48;
}
.address-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 302px;
  height: 34px;
  color: #fffcfc;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  z-index: 46;
}
.flex-row-ec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 346px;
  height: 39px;
  margin: 12px 0 0 17px;
  z-index: 51;
}
.place-icon-5d {
  flex-shrink: 0;
  position: relative;
  width: 36px;
  height: 36px;
  z-index: 51;
  overflow: hidden;
}
.vector-5e {
  position: relative;
  width: 21px;
  height: 30px;
  margin: 3px 0 0 7.5px;
  background: url(./assets/images/fd2758ca-dce9-424c-9fc5-3388ecb01b1f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 52;
}
.address-2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 302px;
  height: 34px;
  color: #fffcfc;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  z-index: 50;
}
.line {
  position: relative;
  width: 384px;
  height: 1px;
  margin: 26px 0 0 20px;
  background: url(./assets/images/9c9dbdca-fab1-4f05-ac79-f4d8852f1bdd.png)
    no-repeat center;
  background-size: cover;
  z-index: 19;
}
.club {
  display: block;
  position: relative;
  height: 25.663px;
  margin: 11px 0 0 21px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 600;
  line-height: 21.25px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 37;
}
.register-member {
  display: block;
  position: relative;
  height: 21px;
  margin: 11.337px 0 0 21px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 38;
}
.exclusive-offers {
  display: block;
  position: relative;
  height: 20px;
  margin: 3px 0 0 21px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 39;
}
.policy {
  display: block;
  position: relative;
  height: 26px;
  margin: 21px 0 0 22px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 600;
  line-height: 21.25px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 21;
}
.terms-and-conditions {
  display: block;
  position: relative;
  height: 21px;
  margin: 11px 0 0 22px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 22;
}
.promotion-policy {
  display: block;
  position: relative;
  height: 20px;
  margin: 6px 0 0 22px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.privacy-policy {
  display: block;
  position: relative;
  height: 20px;
  margin: 6px 0 0 22px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 24;
}
.delivery-policy {
  display: block;
  position: relative;
  height: 20px;
  margin: 6px 0 0 21px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 25;
}
.customer-care {
  display: block;
  position: relative;
  height: 26px;
  margin: 21px 0 0 21px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 600;
  line-height: 21.25px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 28;
}
.shopping-experience {
  display: block;
  position: relative;
  height: 21px;
  margin: 0px 0 0 22px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 29;
}
.faqs {
  display: block;
  position: relative;
  height: 20px;
  margin: 5px 0 0 22px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 30;
}
.fashion-knowledge {
  display: block;
  position: relative;
  height: 26px;
  margin: 21px 0 0 21px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 600;
  line-height: 21.25px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 32;
}
.size-guide {
  display: block;
  position: relative;
  height: 21px;
  margin: 4px 0 0 21px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
.blog {
  display: block;
  position: relative;
  height: 20px;
  margin: 6px 0 0 21px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 34;
}
.simple-living-group {
  display: block;
  position: relative;
  height: 20px;
  margin: 6px 0 0 21px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 35;
}
.line-5f {
  position: relative;
  width: 387px;
  height: 1px;
  margin: 25px 0 0 20px;
  background: url(./assets/images/f6dddace-bf89-4916-9c2f-1f3834f51d83.png)
    no-repeat center;
  background-size: cover;
  z-index: 44;
}
.flex-row-60 {
  position: relative;
  width: 329px;
  height: 44px;
  margin: 10px 0 0 20px;
  z-index: 43;
}
.image {
  position: absolute;
  width: 116px;
  height: 44px;
  top: 0;
  left: 213px;
  background: url(./assets/images/071e996e5bfe7c83953df436aec11e1fe8b55300.png)
    no-repeat center;
  background-size: cover;
  z-index: 43;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 188px;
  height: 15px;
  top: 8px;
  left: 0;
  color: #7c7c7c;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  white-space: nowrap;
  z-index: 41;
}
.business-license {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 387px;
  height: 15px;
  margin: 9px 0 0 20px;
  color: #7c7c7c;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  white-space: nowrap;
  z-index: 42;
}
