.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 82px;
  padding: 0 65px;
  height: max-content;
  margin-bottom: 48px;
}

.headerText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 11px;
  border-bottom: 1px solid #a5a5a5;
  padding-right: 26px;
}

.headerTextTranformInfo {
  font-size: 26px;
  font-weight: 600;
}

.headerTextDefaultAddress {
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
}

.input {
  height: 61px;
  border-radius: 20px;
  border: 1px solid #595959;
  padding: 15px 18px;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 26px;
}

.nameInput {
  height: 61px;
  border-radius: 20px;
  border: 1px solid #595959;
  padding: 15px 18px;
  margin-top: 34px;
}

.left {
  width: 761px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.inputWrapperWithIcon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desc {
  height: 99px;
}

.headerTextTranformInfoBelow {
  font-size: 26px;
  font-weight: 600;
  margin-top: 103px;
}

.paymentMethodItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 31px;
  border: 1px solid #595959;
  padding: 15px 16px;
  border-radius: 20px;
  height: 61px;
}

.paymentMethodItemInput {
  font-size: 20px;
  font-weight: 500;
  color: #595959;
  flex: 1;
}

.paymentMethod {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 30px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right {
  flex: 1;
  border-left: 1px solid #595959;
  padding-left: 22px;
  width: 536px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 200px;
  margin-bottom: 48px;
}

.main {
  display: flex;
}

.inputPadding {
  padding-right: 23px;
}

.colCart {
  font-size: 26px;
  font-weight: 600;
  width: 285px;
}

.colQuantity {
  font-size: 20px;
  font-weight: 400;
  width: 82px;
}

.colPrice {
  font-size: 20px;
  font-weight: 400;
  width: 71px;
}

.rowP {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}

.colCart1 {
  display: flex;
  gap: 21px;
  width: 285px;
}

.nameWrapper {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 16px;
  font-weight: 400;
}

.desc1 {
  font-size: 14px;
  font-weight: 400;
  color: #726666;
  margin-top: 9px;
}

.sizeWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  height: 33px;
  width: 77px;
  border-radius: 20px;
  padding: 6px 15px;
}

.sizeWrapper p {
  font-size: 14px;
  font-weight: 400;
}

.sizeItemWrapper {
  display: flex;
  gap: 16px;
  margin-top: 15px;
}

.price1 {
  font-size: 16px;
  font-weight: 600;
}

.quantity1 {
  font-size: 16px;
  font-weight: 400;
}

.discount {
  display: flex;
  gap: 20px;
}

.discountInput {
  width: 339px;
  height: 61px;
  border-radius: 20px;
  border: 1px solid #595959;
  padding: 15px 19px;
  font-size: 20px;
  font-weight: 500;
}

.apply {
  width: 170px;
  height: 61px;
  border-radius: 20px;
  background-color: #002756;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.complete {
  display: flex;
  justify-content: space-between;
}

.nameComplete {
  font-size: 16px;
  font-weight: 400;
}

.valueComplete {
  font-size: 16px;
  font-weight: 600;
}

.completeWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 44px;
}

.btnComplete {
  width: 433px;
  height: 59px;
  background-color: #002756;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin: auto;
  margin-top: 44px;
}

.nameCompleteT {
  font-size: 26px;
  font-weight: 600;
}

.valueCompletT {
  font-size: 26px;
  font-weight: 600;
}

.paymentMethodItemInputPUT {
  width: 22px;
  height: 22px;
}

.payment-description p {
  display: none;
}

#thanhtoankhinhanhang:checked
  ~ .payment-description
  #thanhtoankhinhanhang-description {
  display: block;
}

.wrapperPayment p {
  font-size: 20px;
  font-weight: 400;
  line-height: 26.58px;
  letter-spacing: -0.017em;
  text-align: left;
}

.wrapperPaymentW {
  display: flex;
  padding-left: 65px;
  gap: 29px;
}
