:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Ubuntu, 'Helvetica Neue', Helvetica, Arial, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft Yahei UI', 'Microsoft Yahei',
    'Source Han Sans CN', sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  max-width: 428px;
  height: 926px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.rectangle {
  position: relative;
  width: 435px;
  height: 120px;
  margin: 0 0 0 0;
  background: #ffffff;
  overflow: visible auto;
}
.status-bar {
  position: relative;
  width: 408px;
  height: 18px;
  margin: 11px 0 0 10px;
  z-index: 1;
  overflow: hidden;
}
.time {
  position: absolute;
  width: 54.761px;
  height: 18px;
  top: 0;
  left: 19.584px;
  z-index: 2;
}
.colon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 18px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: SF Pro Text, var(--default-font-family);
  font-size: 15px;
  font-weight: 700;
  line-height: 17.9px;
  text-align: center;
  white-space: nowrap;
  z-index: 3;
}
.stats {
  position: absolute;
  width: 17.78%;
  height: 11.334px;
  top: 3.333px;
  left: 77.42%;
  background: url(./assets/images/135e242e-2fc9-4aa3-83a8-762df81c14bc.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
}
.back-to-school {
  position: relative;
  width: 265px;
  height: 16px;
  margin: 17px 0 0 81px;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 15.948px;
  text-align: center;
  text-overflow: initial;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 133;
}
.back-to-school-buy-now {
  position: relative;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 15.948px;
  text-align: center;
  letter-spacing: -0.2px;
}
.buy-now {
  position: relative;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 15.948px;
  text-align: center;
  text-decoration: underline;
  letter-spacing: -0.2px;
}
.back-to-school-buy-now-1 {
  position: relative;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 15.948px;
  text-align: center;
  letter-spacing: -0.2px;
}
.rectangle-2 {
  position: relative;
  width: 428px;
  height: 51px;
  margin: 6px 0 0 0;
  background: #012755;
  z-index: 117;
}
.asset {
  position: absolute;
  width: 55px;
  height: 47px;
  top: 4px;
  left: 50%;
  background: url(./assets/images/08d5c4f773c622791b8993a0c110ffcbb218c52f.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-50.91%, 0);
  z-index: 132;
}
.align-left {
  position: absolute;
  width: 41px;
  height: 46px;
  top: 6px;
  left: 50%;
  transform: translate(-480.49%, 0);
  z-index: 118;
  overflow: hidden;
}
.vector {
  position: relative;
  width: 31px;
  height: 3px;
  margin: 10.5px 0 0 3.5px;
  background: url(./assets/images/2ce9b0fa-2854-47bc-a7c7-5c718cebf836.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 120;
}
.vector-3 {
  position: relative;
  width: 22px;
  height: 3px;
  margin: 5px 0 0 3.5px;
  background: url(./assets/images/f255941d-a39d-432d-a6e9-436e5b65c0cd.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 119;
}
.vector-4 {
  position: relative;
  width: 31px;
  height: 3px;
  margin: 6px 0 0 3.5px;
  background: url(./assets/images/940eaf65-ceb9-4277-9e70-b5d95a262f36.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 121;
}
.account {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 8px;
  left: 342px;
  z-index: 130;
  overflow: hidden;
}
.vector-5 {
  position: relative;
  width: 20.667px;
  height: 20.667px;
  margin: 5.167px 0 0 5.167px;
  background: url(./assets/images/8ccf0f10-8344-4597-a7a6-050dcff2d2a2.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 131;
}
.cart {
  position: absolute;
  width: 27.5px;
  height: 27.5px;
  top: 9.572px;
  left: 380.5px;
  z-index: 124;
  overflow: hidden;
}
.vector-6 {
  position: relative;
  width: 20.985px;
  height: 9.166px;
  margin: 2.579px 0 0 3.258px;
  background: url(./assets/images/b13a2769-f6a8-40ac-a3fe-542dc048594f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 125;
}
.vector-7 {
  position: relative;
  width: 20.522px;
  height: 10.599px;
  margin: 1.719px 0 0 3.489px;
  background: url(./assets/images/d7ac795c-70d1-42b0-87d1-c90affb6b617.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 126;
}
.search {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 13px;
  left: 67px;
  background: url(./assets/images/324cca03-9728-4219-a4e6-4273f08ac122.png)
    no-repeat center;
  background-size: cover;
  z-index: 122;
  overflow: hidden;
}
.ellipse {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 28.429px;
  left: 397px;
  background: url(./assets/images/c512d657-ab56-4f65-bbcb-02cc61f092ca.png)
    no-repeat center;
  background-size: cover;
  z-index: 128;
  border-radius: 50%;
}
.number-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 6.286px;
  height: 12.571px;
  top: 28.429px;
  left: 399.357px;
  color: #0f0f0f;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 12.571px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 129;
}
.scroll {
  position: relative;
  width: 428px;
  height: 723px;
  margin: 11px 0 0 0;
  z-index: 5;
  overflow: hidden;
}
.gio-hang-thanh-toan {
  position: relative;
  width: 326px;
  height: 23px;
  margin: 0 0 0 51px;
  z-index: 6;
}
.hoan-tat {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 0;
  left: 260px;
  color: #b9b9b9;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 500;
  line-height: 22.593px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.29px;
  z-index: 9;
}
.thanh-toan {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 0;
  left: 120px;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 500;
  line-height: 22.593px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.29px;
  z-index: 10;
}
.gio-hang {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 500;
  line-height: 22.593px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.29px;
  z-index: 11;
}
.vector-8 {
  position: absolute;
  width: 3.37%;
  height: 86.96%;
  top: 4.35%;
  left: 69.94%;
  background: url(./assets/images/5a38beb1-3d42-4458-b1c3-c3e3308bcf43.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 7;
}
.vector-9 {
  position: absolute;
  width: 3.37%;
  height: 86.96%;
  top: 4.35%;
  left: 26.99%;
  background: url(./assets/images/02d483db-b791-427b-9431-2bad36d04a83.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 8;
}
.cam-on-ban {
  display: block;
  position: relative;
  height: 23px;
  margin: 40px 0 0 39px;
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 600;
  line-height: 22.593px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.29px;
  z-index: 16;
}
.thong-tin {
  position: relative;
  width: 428px;
  height: 268px;
  margin: 40px 0 0 0;
  z-index: 17;
  border-radius: 20px;
}
.rectangle-a {
  position: absolute;
  width: 428px;
  height: 268px;
  top: 0;
  left: 0;
  background: #eaeaea;
  z-index: 18;
  border-radius: 20px;
}
.ma-don-hang {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 19px;
  left: calc(50% - 194px);
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.27px;
  z-index: 19;
}
.number-22122001 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 19px;
  left: calc(50% - -8px);
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.27px;
  z-index: 23;
}
.ngay-dat-hang {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 83px;
  left: calc(50% - 194px);
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.27px;
  z-index: 20;
}
.date-22122023 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 83px;
  left: calc(50% - -8px);
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.27px;
  z-index: 24;
}
.thanh-tien {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 147px;
  left: calc(50% - 194px);
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.27px;
  z-index: 21;
}
.price-1647000 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 147px;
  left: calc(50% - -8px);
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.27px;
  z-index: 25;
}
.phuong-thuc-thanh-toan {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 211px;
  left: calc(50% - 194px);
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.27px;
  z-index: 22;
}
.thanh-toan-khi-nhan-hang {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 211px;
  left: calc(50% - -8px);
  color: #000000;
  font-family: Exo, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.27px;
  z-index: 26;
}
.button-quay-lai {
  position: relative;
  width: 388px;
  height: 56px;
  margin: 39px 0 0 20px;
  cursor: pointer;
  font-size: 0px;
  background: transparent;
  border: none;
  z-index: 13;
  overflow: visible auto;
  border-radius: 20px;
}
.quay-lai-trang-chu {
  display: block;
  position: relative;
  height: 18px;
  margin: 0 0 0 136px;
  color: #fff6f6;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 15;
}
.rectangle-b {
  position: absolute;
  width: 388px;
  height: 56px;
  top: 0;
  left: 0;
  background: #002756;
  z-index: 14;
  border-radius: 20px;
}
.tien-hanh-dat-hang {
  display: block;
  position: relative;
  height: 19px;
  margin: 39px 0 0 152px;
  color: #fff6f6;
  font-family: Exo, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 18.606px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 12;
}
.footer {
  position: relative;
  width: 428px;
  height: 1085px;
  margin: 0 0 0 0;
  z-index: 27;
}
.footer-c {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 28;
}
.group {
  position: relative;
  width: 340px;
  height: 89px;
  margin: 27px 0 0 20px;
  z-index: 35;
  overflow: visible auto;
}
.simple-chon-don-gian {
  position: relative;
  width: 340px;
  height: 23px;
  margin: 0 0 0 0;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 700;
  line-height: 22.593px;
  text-align: center;
  text-overflow: initial;
  white-space: nowrap;
  letter-spacing: -0.29px;
  z-index: 36;
}
.simple {
  position: relative;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 700;
  line-height: 22.593px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.29px;
}
.choose-simple-live-easy {
  position: relative;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 700;
  line-height: 22.593px;
  text-align: center;
  letter-spacing: -0.29px;
}
.customer-feedback {
  display: flex;
  align-items: center;
  position: relative;
  width: 340px;
  height: 72px;
  margin: -6px 0 0 0;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15.948px;
  text-align: justified;
  letter-spacing: -0.2px;
  z-index: 37;
}
.contribute-button {
  position: relative;
  width: 169px;
  height: 42px;
  margin: 0px 0 0 20px;
  cursor: pointer;
  font-size: 0px;
  background: transparent;
  border: none;
  z-index: 84;
  overflow: visible auto;
  border-radius: 20px;
}
.feedback {
  display: block;
  position: relative;
  height: 20px;
  margin: 0 0 0 25px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 86;
}
.rectangle-d {
  position: absolute;
  width: 169px;
  height: 42px;
  top: 0;
  left: 0;
  background: #2f5acf;
  z-index: 85;
  border-radius: 20px;
}
.hotline {
  position: relative;
  width: 208px;
  height: 28.769px;
  margin: 31px 0 0 20px;
  z-index: 79;
}
.flex-column-ab {
  position: absolute;
  width: 177.231px;
  height: 28.769px;
  top: 0;
  left: 30.769px;
  font-size: 0px;
  z-index: 83;
}
.hotline-e {
  display: block;
  position: relative;
  height: 12px;
  margin: 0 0 0 0.23px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 82;
}
.phone-numbers {
  display: block;
  position: relative;
  height: 14.769px;
  margin: 2px 0 0 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 14.523px;
  text-align: left;
  white-space: nowrap;
  z-index: 83;
}
.phone-light {
  position: absolute;
  width: 22.769px;
  height: 22.769px;
  top: 0.62px;
  left: 0;
  z-index: 80;
  overflow: hidden;
}
.vector-f {
  position: relative;
  width: 17.432px;
  height: 17.432px;
  margin: 2.313px 0 0 3.024px;
  background: url(./assets/images/a706cd6d-df29-43ca-850d-3b8f25729843.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 81;
}
.email {
  position: relative;
  width: 169.846px;
  height: 29.769px;
  margin: 7.231px 0 0 20.615px;
  z-index: 30;
}
.flex-column {
  position: absolute;
  width: 139.692px;
  height: 29.769px;
  top: 0;
  left: 30.154px;
  font-size: 0px;
  z-index: 32;
}
.email-10 {
  display: block;
  position: relative;
  height: 12px;
  margin: 0 0 0 0.23px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 31;
}
.email-address {
  display: block;
  position: relative;
  height: 14.769px;
  margin: 3px 0 0 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 14.523px;
  text-align: left;
  white-space: nowrap;
  z-index: 32;
}
.mail-outline {
  position: absolute;
  width: 22.154px;
  height: 22.154px;
  top: 2.154px;
  left: 0;
  z-index: 33;
  overflow: hidden;
}
.vector-11 {
  position: relative;
  width: 18.462px;
  height: 14.769px;
  margin: 3.692px 0 0 1.846px;
  background: url(./assets/images/669ecf2f-32fb-4b37-ac22-6e4361aee0ab.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 34;
}
.contact {
  position: relative;
  width: 160px;
  height: 32.166px;
  margin: 17.231px 0 0 21px;
  z-index: 74;
}
.ig {
  position: absolute;
  width: 31.539px;
  height: 31.539px;
  top: 0;
  left: 128.461px;
  background: url(./assets/images/36c36b19-ad25-4264-83a7-3b49bf4e57fb.png)
    no-repeat center;
  background-size: cover;
  z-index: 75;
}
.youtube {
  position: absolute;
  width: 31.539px;
  height: 31.539px;
  top: 0.06px;
  left: 85.714px;
  background: url(./assets/images/b7bc18dc-0de6-4d33-ad74-21a071a00c07.png)
    no-repeat center;
  background-size: cover;
  z-index: 76;
}
.whatsapp {
  position: absolute;
  width: 31.539px;
  height: 31.539px;
  top: 0.06px;
  left: 0;
  background: url(./assets/images/8317fba7-52ff-41c6-adc5-5aa6f703c31b.png)
    no-repeat center;
  background-size: cover;
  z-index: 78;
}
.facebook {
  position: absolute;
  width: 31.539px;
  height: 31.539px;
  top: 0.63px;
  left: 42.857px;
  background: url(./assets/images/151fb6fb-251a-4418-b5bf-5d1fe3ee9512.png)
    no-repeat center;
  background-size: cover;
  z-index: 77;
}
.rectangle-12 {
  position: absolute;
  width: 428px;
  height: 1085px;
  top: 0;
  left: 0;
  background: #0c0c0c;
  z-index: 29;
}
.footer-13 {
  position: absolute;
  width: 90.42%;
  height: 66.73%;
  top: 31.34%;
  left: 4.67%;
  z-index: 38;
}
.footer-14 {
  position: relative;
  width: 384px;
  height: 620px;
  margin: 0 0 0 0;
  font-size: 0px;
  z-index: 39;
  overflow: visible auto;
}
.contact-address {
  display: block;
  position: relative;
  height: 26px;
  margin: 0 0 0 1px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 600;
  line-height: 21.25px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 47;
}
.line {
  position: relative;
  width: 384px;
  margin: 128px 0 0 0;
  background: url(./assets/images/d61ef1b7-3eda-4ca9-86ae-231799fe58f3.png)
    no-repeat center;
  background-size: cover;
  z-index: 40;
}
.club {
  position: relative;
  width: 195px;
  height: 81px;
  margin: 11px 0 0 1px;
  font-size: 0px;
  z-index: 57;
  overflow: visible auto;
}
.text-1d {
  display: block;
  position: relative;
  height: 25.663px;
  margin: 0 0 0 0;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 600;
  line-height: 21.25px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 58;
}
.register-member {
  display: block;
  position: relative;
  height: 21px;
  margin: 11.337px 0 0 0;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 59;
}
.exclusive-offers {
  display: block;
  position: relative;
  height: 20px;
  margin: 3px 0 0 0;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 60;
}
.policy {
  position: relative;
  width: 196px;
  height: 136px;
  margin: 21px 0 0 1px;
  font-size: 0px;
  z-index: 41;
  overflow: visible auto;
}
.policy-15 {
  display: block;
  position: relative;
  height: 26px;
  margin: 0 0 0 1px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 600;
  line-height: 21.25px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 42;
}
.terms-conditions {
  display: block;
  position: relative;
  height: 21px;
  margin: 11px 0 0 1px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 43;
}
.promotion-policy {
  display: block;
  position: relative;
  height: 20px;
  margin: 6px 0 0 1px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 44;
}
.privacy-policy {
  display: block;
  position: relative;
  height: 20px;
  margin: 6px 0 0 1px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 45;
}
.delivery-policy {
  display: block;
  position: relative;
  height: 20px;
  margin: 6px 0 0 0;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 46;
}
.customer-care {
  position: relative;
  width: 277px;
  height: 72px;
  margin: 21px 0 0 1px;
  font-size: 0px;
  z-index: 48;
  overflow: visible auto;
}
.customer-care-16 {
  display: block;
  position: relative;
  height: 26px;
  margin: 0 0 0 0;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 600;
  line-height: 21.25px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 49;
}
.shopping-experience {
  display: block;
  position: relative;
  height: 21px;
  margin: 0 0 0 1px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 50;
}
.faqs {
  display: block;
  position: relative;
  height: 20px;
  margin: 5px 0 0 1px;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 51;
}
.fashion-knowledge {
  position: relative;
  width: 276px;
  height: 103px;
  margin: 21px 0 0 1px;
  font-size: 0px;
  z-index: 52;
  overflow: visible auto;
}
.fashion-knowledge-17 {
  display: block;
  position: relative;
  height: 26px;
  margin: 0 0 0 0;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 17px;
  font-weight: 600;
  line-height: 21.25px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 53;
}
.size-guide {
  display: block;
  position: relative;
  height: 21px;
  margin: 4px 0 0 0;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 54;
}
.blog {
  display: block;
  position: relative;
  height: 20px;
  margin: 6px 0 0 0;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 55;
}
.simple-style-group {
  display: block;
  position: relative;
  height: 20px;
  margin: 6px 0 0 0;
  color: #ffffff;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 56;
}
.group-18 {
  position: relative;
  width: 387px;
  height: 78px;
  margin: 26px 0 0 0;
  z-index: 61;
  overflow: visible auto;
}
.line-19 {
  position: relative;
  width: 387px;
  height: 0px;
  margin: 0px 0 0 0;
  background: url(./assets/images/eb3a7a95-a03b-45fb-bd95-9595ea8e1007.png)
    no-repeat center;
  background-size: cover;
  z-index: 65;
}
.international-tourism-business-license {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 387px;
  height: 15px;
  margin: 63px 0 0 0;
  color: #7c7c7c;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  white-space: nowrap;
  z-index: 63;
}
.image {
  position: absolute;
  width: 116px;
  height: 44px;
  top: 10px;
  left: 213px;
  background: url(./assets/images/071e996e5bfe7c83953df436aec11e1fe8b55300.png)
    no-repeat center;
  background-size: cover;
  z-index: 64;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 188px;
  height: 15px;
  top: 18px;
  left: 0;
  color: #7c7c7c;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  white-space: nowrap;
  z-index: 62;
}
.base {
  position: absolute;
  width: 80.84%;
  height: 3.32%;
  top: 35.02%;
  left: 3.97%;
  z-index: 66;
}
.base-address {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 302px;
  height: 34px;
  top: 0;
  left: 44px;
  color: #fffcfc;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  z-index: 67;
}
.place {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  left: 0;
  z-index: 68;
  overflow: hidden;
}
.vector-1a {
  position: relative;
  width: 21px;
  height: 30px;
  margin: 3px 0 0 7.5px;
  background: url(./assets/images/09929590-1ee5-49e5-a867-ca749d34d5ad.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 69;
}
.base-1b {
  position: absolute;
  width: 80.84%;
  height: 3.59%;
  top: 39.45%;
  left: 3.97%;
  z-index: 70;
}
.place-1c {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  left: 0;
  z-index: 72;
  overflow: hidden;
}
.vector-1d {
  position: relative;
  width: 21px;
  height: 30px;
  margin: 3px 0 0 7.5px;
  background: url(./assets/images/4b294006-d62b-405f-87d8-4f733666d106.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 73;
}
.base-address-1e {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 302px;
  height: 34px;
  top: 5px;
  left: 44px;
  color: #fffcfc;
  font-family: Exo, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  z-index: 71;
}
.rectangle-1f {
  position: absolute;
  width: 427px;
  height: 69px;
  top: 858px;
  left: 1px;
  background: #ffffff;
  z-index: 90;
}
.rectangle-20 {
  position: absolute;
  width: 48px;
  height: 36px;
  top: 10px;
  left: 189px;
  background: #012755;
  z-index: 92;
  border-radius: 20px;
}
.home {
  position: relative;
  width: 20.583px;
  height: 22.82px;
  margin: 6.03px 0 0 13.709px;
  background: url(./assets/images/5903b26a-8263-46ca-895c-fbd9871cdedb.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 97;
  box-sizing: content-box;
}
.rectangle-21 {
  position: absolute;
  width: 40px;
  height: 36px;
  top: 10px;
  left: 34.693px;
  background: #ffffff;
  z-index: 99;
}
.archive {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 6px 0 0 8.306px;
  background: url(./assets/images/501fae5f-c915-4f31-bde4-aef0c6231462.png)
    no-repeat center;
  background-size: cover;
  z-index: 100;
  overflow: hidden;
}
.rectangle-22 {
  position: absolute;
  width: 40px;
  height: 36px;
  top: 10px;
  left: 112px;
  background: #ffffff;
  z-index: 102;
}
.clock {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 6px 0 0 9.306px;
  background: url(./assets/images/48a4b047-5751-4212-be98-9020d452ff16.png)
    no-repeat center;
  background-size: cover;
  z-index: 103;
  overflow: hidden;
}
.rectangle-23 {
  position: absolute;
  width: 40px;
  height: 36px;
  top: 10px;
  left: 274px;
  background: #ffffff;
  z-index: 105;
}
.heart {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 6px 0 0 8.306px;
  z-index: 106;
  overflow: hidden;
}
.vector-24 {
  position: relative;
  width: 23.903px;
  height: 21.232px;
  margin: 1.498px 0 0 0.05px;
  background: url(./assets/images/3b849166-af4e-4c1b-a1e2-d13f212615f5.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 107;
}
.rectangle-25 {
  position: absolute;
  width: 40px;
  height: 36px;
  top: 10px;
  left: 350.693px;
  background: #ffffff;
  z-index: 109;
}
.phone {
  position: relative;
  width: 23px;
  height: 23px;
  margin: 6px 0 0 9px;
  z-index: 110;
  overflow: hidden;
}
.vector-26 {
  position: relative;
  width: 20.06px;
  height: 20.098px;
  margin: 1.417px 0 0 1.524px;
  background: url(./assets/images/337f8e56-f50c-44da-9726-3f5acd93692e.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 111;
}
.home-indicator {
  position: absolute;
  width: 437.222px;
  height: 34.733px;
  top: 902.241px;
  left: -5px;
  z-index: 113;
  overflow: hidden;
}
.rectangle-27 {
  position: relative;
  width: 122px;
  height: 3px;
  margin: 16px 0 0 158px;
  background: #0f0f10;
  z-index: 114;
  border-radius: 81.318px;
}
