.header {
  background-color: #012755;
  height: 84px;
  color: #FFFBFB;
  font-family: Exo;
}

.logo {
  height: 65px;
}

.menuItem {
  margin: 0 20px;
}

.inpSearch {
  outline: none;
  border-radius: 20px;
  font-size: 18px;
  color: #636363;
  padding: 10px 10px 10px 25px;
}

@media screen and (max-width: 860px) {
  .logo {
    font-size: 1rem;
  }

  .menuPc {
    display: none;
  }

  .mobileMenu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.5rem;
  }
}
