.container {
  height: 84px;
  background-color: #012755;
}

.header {
  height: 84px;
  color: #fffbfb;
  width: 1441px;
  margin: auto;
}

.logo {
  height: 65px;
}

.inpSearch {
  outline: none;
  border-radius: 20px;
  font-size: 18px;
  color: #636363;
  padding: 10px 10px 10px 25px;
}

.menuPc {
  display: flex;
  align-items: center;
  gap: 38px;
}

.menuItem {
  width: 133px;
  text-transform: uppercase;
  font-weight: 700;
}

.menuLeft {
  display: flex;
  align-items: center;
  gap: 103px;
}

.menuRight {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 860px) {
  .logo {
    font-size: 1rem;
  }

  .menuPc {
    display: none;
  }

  .mobileMenu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.5rem;
  }
}
