.container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 73px 65px;
}

.categoryItem {
  width: 312px;
  height: 107px;
  border-radius: 20px;
  box-shadow: 2px 3px 2px 0px #0000001a;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  padding: 40px 31px 37px 40px;
}

.categoryItem:hover {
  box-shadow: none;
}
