.container {
  width: 269px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 19px;
  border-bottom: 0.3px solid #000;
  margin-bottom: 19px;
}

.categoryTitle {
  color: #5f5f5f;
  font-size: 20px;
  font-weight: 600;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: 11px;
}

.checkboxTitle {
  font-size: 16px;
  font-weight: 400;
  color: #5f5f5f;
}

.checkboxWrapperList {
  margin-top: 31px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sizeWapper {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  margin-top: 28px;
}

.sizeItem {
  width: 64px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #878787;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sizeItem:hover {
  background-color: #012755;
  color: #fff;
  cursor: pointer;
}

.category {
  margin-top: 37px;
}

.color {
  margin-top: 45px;
  margin-bottom: 38px;
}

.colorCircle {
  width: 31px;
  height: 31px;
  border-radius: 50%;
}

.colorItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 66px;
  margin-bottom: 20px;
  cursor: pointer;
}

.colorCircle:hover {
  border: 2px solid #012755;
}

.colorText {
  font-size: 13px;
  font-weight: 400;
  color: #5f5f5f;
}

.colorWapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}

.checkboxinput {
  width: 27px;
  height: 27px;
  cursor: pointer;
}
