.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 82px;
  padding: 0 65px;
  justify-content: center;
}

.title {
  font-size: 26px;
  font-weight: 600;
  margin-top: 68px;
  margin-bottom: 36px;
}

.main {
  background-color: #eaeaea;
  border-radius: 20px;
  padding: 54px 20px;
  gap: 34px;
  display: flex;
  flex-direction: column;
  width: 780px;
}

.mainItem {
  display: flex;
}

.name {
  font-size: 20px;
  font-weight: 700;
  width: 304px;
}

.value {
  font-size: 20px;
  font-weight: 500;
}

.backBtn {
  width: 433px;
  height: 59px;
  background-color: #002756;
  color: #fff;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 70px;
  margin-bottom: 139px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
